<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" type ="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet/less" type="text/css" href="less/index.less" />
</head>
<body>
  <div id="app">
    <div class="app-container">
      <h1 class="app-title">TIC TAC TOE</h1>
      <div class="chessboard">
        <div class="cell-row" v-for="(cellRow, index) in chessboard" :key="index">
          <div class="cell-item" v-for="(item, id) in cellRow" :key="id" @click="playingChess(id, index)">
            <template v-if="/1|2/.test(item)">
              <image :src="item === 2 ? `images/svg/${wrong}` : item === 1 ? `images/svg/${right}` : ''" alt="chess-icon" class="chess-icon" />
            </template>
          </div>
        </div>
      </div>
      <div class="notice">{{notice}}</div>
      <a href="javascript:;" class="restart-button" v-if="oneAgain" @click="restart">Play Again!</a>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.39/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
  <script type="module" src="js/index.js"></script>
</body>
</html>